@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

header {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#643E96;
  }
  header .menu {
    display: flex;
    transition: 0.5s ease-in-out;
  }

  header .menu li {
    list-style: none;
    margin: 0 2vw;
  }

  header .menu li a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: rgb(185, 175, 194);
    font-size: 1rem;
  }
  
  header .menu li a:hover {
    opacity: 0.7;
    background-color: rgba(0, 25, 109, 0.575);
  }

  header .navbar .bar {
    width: 1.7rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 0.3rem;
    transition: 0.5s ease;
  }

  header .navbar {
    display: none;
    margin-left: 0.4rem;
  }
  #logo{
    width: 10rem;
   
  }

  main {
    width: 100vh;
    height: 200vh;
    background-color: rgb(214, 214, 214);
  }
  
